.career-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #e79b25; 
  grid-row: 1 / 2; 
  grid-column: 1 / 2;
}

.education-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color:#004E71; 
  grid-row: 3 / 4; 
  grid-column: 1 / 2;
}

.project-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(77, 77, 77, .9);
}

.project1 { 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2; 
  grid-column: 1 / 2;  
  height: 100%;
  width: 100%;
  background-color: white; 
  background: url(./img/enablr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 { 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2; 
  grid-column: 2 / 3;  
  height: 100%;
  width: 100%;
  background-color: white; 
  background: url(./img/aleksandr-ledogorov.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project3 { 
  display: flex;
  justify-content: center;
  align-items: center; 
  grid-row: 1 / 2; 
  grid-column: 3 / 4;
  height: 100%;
  width: 100%;
  background-color: white; 
  background: url(./img/adam-seckel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project4 { 
  display: flex;
  justify-content: center;
  align-items: center; 
  grid-row: 3 / 4; 
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  background-color: white; 
  background: url(./img/kelvin-zyteng.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project5 { 
  display: flex;
  justify-content: center;
  align-items: center;  
  grid-row: 3 / 4; 
  grid-column: 2 / 3;
  height: 100%;
  width: 100%;
  background-color: white; 
  background: url(./img/drew-graham.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project6 { 
  display: flex;
  justify-content: center;
  align-items: center;  
  grid-row: 3 / 4; 
  grid-column: 3 / 4;
  height: 100%;
  width: 100%;
  background-color: white; 
  background: url(./img/tinh-khuong.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flip-card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2; 
  grid-column: 2 / 3;  
  height: 100%;
  width: 100%;
  background-color: transparent;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -moz-perspective: 1000px;
}

.flip-card1-inner {
  position: relative;  
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
}

.flip-card1:hover .flip-card1-inner {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.job1, .job1-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.job1 {
  background: url(./img/salsas.png);
  background-position: center, center;
  background-repeat: repeat;
  background-size: contain;
}

.job1-back {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #e79b25;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.flip-card2 {
  display: flex;
  justify-content: center;
  align-items: center;  
  grid-row: 1 / 2; 
  grid-column: 3 / 4;
  height: 100%;
  width: 100%;
  background-color: transparent;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -moz-perspective: 1000px;
}

.flip-card2-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
}

.flip-card2:hover .flip-card2-inner {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.job2, .job2-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.job2 {
  height: 100%;
  width: 100%;
  background-color: white; 
  background: url(./img/aegis.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.job2-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e79b25;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.flip-card3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4; 
  grid-column: 2 / 3;
  height: 100%;
  width: 100%;
  background-color: transparent;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -moz-perspective: 1000px;
}

.flip-card3-inner {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
}

.flip-card3:hover .flip-card3-inner {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.education1, .education1-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.education1 {  
  height: 100%;
  width: 100%;
  background: url(./img/uni-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.education1-back {
  display: flex;
  justify-content: center;
  align-items: center; 
  color: white;
  background-color: #004E71;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.flip-card4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4; 
  grid-column: 3 / 4;  
  height: 100%;
  width: 100%;
  background-color: transparent;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -moz-perspective: 1000px;
}

.flip-card4-inner {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
}

.flip-card4:hover .flip-card4-inner {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.education2, .education2-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.education2 {
  height: 100%;
  width: 100%;
  background-color: white; 
  background: url(./img/coder-academy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.education2-back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #004E71;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}