h1 {
  display: flex;
  justify-content: center;
  grid-row: 2 / 3; 
  grid-column: 2 / 3;
  align-items: center;
  text-align: center;
  font-family: 'Patua One', cursive;
  font-size: 44px;
  color: black;
  margin: 0 10px 130px 10px;
  padding: 20px;
  border: solid black 5px;
  box-shadow: 5px 10px 8px #888888;
}

h3 {
  text-align: center;
  font-family: 'Patua One', cursive;
  font-size: 19px;
  color: white;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
}
 
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.avatar {
  height: 200px;
}

.avatar-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-row: 1 / 2; 
  grid-column: 2 / 3;
}

.social-button {
  height: 35px;
  width: 40px;
}

.social-button:hover {
  transform: scale(1.1)
}

.project1:hover .project-overlay {
  opacity: 0.9;
}

.project2:hover .project-overlay {
  opacity: 0.9;
}

.project3:hover .project-overlay {
  opacity: 0.9;
}

.project4:hover .project-overlay {
  opacity: 0.9;
}

.project5:hover .project-overlay {
  opacity: 0.9;
}

.project6:hover .project-overlay {
  opacity: 0.9;
}

.logo:hover {
  transform: scale(1.1)
}

#name {
  height: 38px;
  width: 294px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  border: 1px solid black;
}

#email {
  height: 38px;
  width: 294px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  border: 1px solid black;
}

#comment-box {
  height: 75px;
  width: 294px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: start;
  border: 1px solid black;
}

#submit {
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.index-spaceship {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row: 2 / 3; 
  grid-column: 1 / 4;
  margin-top: 20px;
  animation: index 10s linear 1 forwards;
}

.intro-spaceship {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row: 2 / 3; 
  grid-column: 1 / 4;
  animation: index 10s linear 1 forwards;
}

.spaceship {
  height: 66.667px;
  width: 195px;
}

.about-spaceship {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row: 2 / 3; 
  grid-column: 1 / 4;
  animation: index 10s linear 1 forwards;
}

.projects-spaceship {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row: 2 / 3; 
  grid-column: 1 / 4;
  animation: index 10s linear 1 forwards;
}

.contact-spaceship {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row: 3 / 4; 
  grid-column: 1 / 4;
  animation: index 10s linear 1 forwards;
}

@keyframes index {

  99%{
    opacity: 1;
    transform: translate(2900px)
  }

  100%{
    position: absolute;
    left:-10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

}
