/* .main-container-blue {
  height: calc(100vh - 130px);
  width: 100vw;
  display: flex;
  background-color: #004E71;
  justify-content: center;
  align-items: center;
} */

.main-container-white {
  height: calc(100vh - 130px);
  width: 100vw;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.intro-content {
  display: flex;
  justify-items: flex-end;
  align-content: flex-end;
}

.projects-container {
  display: flex;
  height: calc(100vh - 130px);
  width: 100vw;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.projects-grid {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr 1fr;
}

.project1 { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 1 / 2; 
  grid-column: 1 / 2;
  border: solid black 2px;
  border-radius: 2%;
  background: url(./img/adam-miller-1053911-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 1 / 2; 
  grid-column: 2 / 3;
  border: solid black 2px;
  border-radius: 2%;
  background: url(./img/aditya-chinchure-494048-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project3 { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 1 / 2; 
  grid-column: 3 / 4;
  border: solid black 2px;
  border-radius: 2%;
  background: url(./img/larm-rmah-47685-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project4 { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 3 / 4; 
  grid-column: 1 / 2;
  border: solid black 2px;
  border-radius: 2%;
  background: url(./img/david-east-152755-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project5 { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 3 / 4; 
  grid-column: 2 / 3;
  border: solid black 2px;
  border-radius: 2%;
  background: url(./img/benjamin-behre-1049704-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project6 { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 3 / 4; 
  grid-column: 3 / 4;
  border: solid black 2px;
  border-radius: 2%;
  background: url(./img/taneli-lahtinen-1027400-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  display: flex;
  height: calc(100vh - 130px);
  width: 100vw;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.about-grid {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr 1fr;
}

.career-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #e79b25; 
  grid-row: 1 / 2; 
  grid-column: 2 / 3;
  border: 2px solid black;
  /* border-radius: 2%; */
}

.job1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-row: 1 / 2; 
  grid-column: 1 / 2;
  border: 2px solid black;
  background: url(./img/salsas.png);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 2%; */
}

.job2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 1 / 2; 
  grid-column: 3 / 4;
  border: solid black 2px;
  background: url(./img/cc239a-3ad0-82fc0.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 2%; */
}

.education-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color:#004E71; 
  grid-row: 3 / 4; 
  grid-column: 2 / 3;
  border: solid black 2px;
  /* border-radius: 2%; */
}

.education1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 3 / 4; 
  grid-column: 1 / 2;
  border: solid black 2px;
  /* border-radius: 2%; */
  background: url(./img/26_Swinburne.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.education2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; 
  grid-row: 3 / 4; 
  grid-column: 3 / 4;
  border: solid black 2px;
  /* border-radius: 2%; */
  background: url(./img/coder.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}