.white-navbar {
  height: 130px;
  width: 100vw;
  background-color: white;
}

.navbar-logo {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 25px;
  height: 130px;
  width: 100px;
}

.logo {
  height: 75px;
  width: 75px;
}

.logo-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  margin: 0 25px 0 0;
}

.black-link {
  margin: 0px 15px;
  text-decoration: none;
  color: black;
  font-family: 'Patua One', cursive;
}

.black-link:hover {
  transform: scale(1.1);
}

